/*colors #69A88D #E5BDB5 #F3EEE6 #073530*/

* {
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
}

html {
    font-family: "Montserrat, Sans-Serif";
}


/*Navbar*/

.navbar {
    min-height: 6rem;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 0 0 0;
    z-index: 2;
    position: static;
    background-color: #EFEFE8FF;
}

.navbar-top {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.brand {
    padding-left: 19%;
    padding-right: 5rem;
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    color: #9f4a4c;
    text-decoration: none;
}

.brand:hover {
    text-decoration: none;
    color: #e0a39c;
}

.container .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-name {
    font-weight: 800;
}


/*.logo {
    height: 90px;
    width: auto;
    margin-right: 25%;
}*/

.header-social {
    margin: 0;
    position: absolute;
    top: 3rem;
    right: 280px;
    list-style-type: none;
}

.header-social li {
    margin-right: 1rem;
}

.fab:hover {
    color: #9c3833;
}


/*intro*/

.intro {
    height: 100vh;
    width: 100%;
    background-color: #fbc7c3;
}

.intro-text {
    margin-left: 20%;
    line-height: 1.3rem;
}

.intro-text h1 {
    font-weight: 400;
}

.button-main {
    width: 10rem;
    height: 4rem;
    text-align: center;
    background-color: #bb5449;
    border-radius: 3%;
    border: none;
    box-shadow: 5px 5px 13px -3px rgba(169, 134, 134, 0.72);
    -webkit-box-shadow: 5px 5px 13px -3px rgba(169, 134, 134, 0.72);
    -moz-box-shadow: 5px 5px 13px -3px rgba(169, 134, 134, 0.72);
}

.btn-text {
    font-size: 1.7rem;
    font-weight: 200;
    color: #ffffff;
}


/*products*/

.product-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.product-header {
    color: #69A88D;
    ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

.productImg {
    max-width: 318px;
    max-height: 180px;
    border-radius: 2%;
}

.product-header {
    height: 30px;
}

.product-card {
    overflow: hidden;
    margin: 0 auto;
}

.product-img {
    position: relative;
    align-items: center;
    transition: .7s all ease-in-out;
}

.product-img:hover {
    transform: scale(1.2);
}

.product-card {
    max-width: 400px;
    margin: 2rem;
    border: none;
    box-shadow: 5px 5px 13px -3px rgba(170, 175, 175, 0.767);
    -webkit-box-shadow: 5px 5px 13px -3px rgba(170, 175, 175, 0.767);
    -moz-box-shadow: 5px 5px 13px -3px rgba(170, 175, 175, 0.767);
}


/*features*/

.features-section {
    max-width: 80%;
    min-height: 500px;
    background-color: #F3EEE6;
    margin-top: 5rem;
    margin-left: 10%;
    color: #595b59;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.features-col {
    height: 300px;
    text-align: center;
    padding-top: 3rem;
}


/*about*/

.section-about {
    min-height: 600px;
    padding-top: 6rem;
}

.about-header {
    color: #69A88D;
}

.about-text {
    position: relative;
    text-align: left;
    max-width: 600px !important;
    max-height: 300px;
    padding-top: 3rem;
    line-height: 2.3rem;
}

.about-text p {
    font-size: 1.3rem;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.saltanat-img {
    height: 400px;
    width: 400px;
    border-radius: 100%;
}


/*contact*/

.contact {
    max-width: 80%;
    background-color: #69A88D;
    margin-left: 10%;
}

.contact .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 300px;
    width: auto;
}

.contact-text {
    padding-top: 7rem;
    color: #ffffff;
}


/*footer*/

.footer {
    margin-left: 10%;
    max-width: 80%;
    background-color: #69A88D;
    color: #ffffff;
}

.footer .container {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#back-top {
    color: #ffffff;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15rem;
    z-index: 2;
}


/*RESPONSIVE*/


/*navbar*/

@media screen and (max-width:1200px) {
    .navbar {
        font-size: 20px;
    }
    .header-main-nav li {
        margin: 0 1.4rem;
    }
}

@media screen and (max-width:1000px) {
    .navbar {
        text-align: right;
    }
    .header-social {
        display: none;
    }
}


/*about*/

@media screen and (max-width:1200px) {
    .section-about {
        padding-bottom: 13rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width:1024px) {
    .section-about {
        margin-top: 1366px;
        margin-bottom: 10px;
    }
    .about-text {
        column-gap: 30px;
        font-size: 1.5rem;
        max-width: 600px;
    }
    .s-about .about-text {
        margin-left: 5rem;
    }
}

@media screen and (max-width:900px) {
    .section-about {
        padding-top: 10rem;
    }
}

@media screen and (max-width:800px) {
    .section-about {
        margin-top: 1024px;
        padding-top: 8rem;
    }
    .section-about .image-container {
        max-width: 600px;
    }
    .section-about .about-text {
        margin-left: 5rem;
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    .section-about {
        padding-top: 1rem;
        padding-bottom: 6rem;
    }
    .section-about .image-container {
        max-width: 400px;
    }
    .section-about .about-text {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    .section-about {
        padding-top: 8rem;
    }
}